<div class="footer">
  <div class="col">
    <h4>Test by:</h4>
    <div>
      <img id="reb-img" src="https://rebellionpay.com/public/logo-white-2019-bd29fcc6.svg" alt="">
      <p>Rebellion Pay</p>
    </div>
  </div>
  <div class="col">
    <h4>Code by:</h4>
    <div class="row">
      <a href="https://www.linkedin.com/in/adrianmohmedsanz/"><img id="ln-img" src="https://www.siggis.be/wp-content/uploads/2018/01/Linkedin-logo-1-550x550-300x300.png" alt=""></a>
      <p>Adrián Mohmed Sanz</p>
    </div>
  </div>

</div>
