<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/styles.css">

  <title>Rebellion test</title>
</head>
<body>
  <div class="general">
  <%- include ('partials/nav') -%>
  <div class="welcome">
  <h3>Welcome, Rebellion Pay team!</h3>
  <div>
  <p>First things first: thank you for giving me the chance of trying this test.</p>
  <p>You've been kind enough to have me in two different meetings despite your tight schedule and, if everything goes as I'd like, I'm still going to steal you a bit more of your time to review this simple app's code.</p>
  <p>You may find the results being printed out to the console if you open a terminal and run node on the main.js file, but I encourage you to try a more friendly approach and use the links on the navigation bar above.</p>
  <p>Hope you don't find it too newbie-ish!</p>
  </div>
</div>
<%- include ('partials/footer') -%>
</div>

</body>
</html>
